{{#blogPosts}}
<li class="single-post">
    <article id="post-{{postId}}">
        <div style="overflow:hidden;">
            <div class="dot">&nbsp;</div>
            <button class="likeBtn" id="like-{{postId}}">Like</button>
            <button class="editBtn" id="edit-{{postId}}">Edit</button>
            <button class="deleteBtn" id="del-{{postId}}">Delete</button>
            <h3 class="title">{{title}}</h3>
        </div>
        <p class="subtitle">Posted on {{date}} by {{author}}</p>
        <p class="votesDisplay" id="display-{{postId}}">Rating: {{votes}}</p>
        <div class="content" id="content-{{postId}}">{{content}}</div>
        <p class="subtitle">Comments:</p>
        <div id="commentsContainer-{{postId}}">
            {{#comments}}
            <p class="subtitle">{{content}} by: {{author}}</p>
            {{/comments}}
        </div>
        <div class="commentsFieldsContainer">
            <textarea class="commentTextarea" id="commentText-{{postId}}"></textarea>
            <button class="commentBtn" id="comm-{{postId}}" type="button">Comment</button>
        </div>
    </article>
</li>
{{/blogPosts}}
