<aside class="sidebar">
    <h2 class="recent-posts-title" style="margin-top: 20px;">Navigation</h2>
    <hr>
    <nav>
        <ul>
            <li class="single-menu-element">
                <a href="/" class="single-menu-element-link">
                    Home
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/posts/create" class="single-menu-element-link">
                    Create Post
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/users" class="single-menu-element-link">
                    Users
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/logout" class="single-menu-element-link">
                    Logout
                </a>
            </li>
        </ul>

        <hr>
        <h2 class="recent-posts-title" id="recentsName">Recent Posts</h2>

        <ul class="recent-posts">
        </ul>
    </nav>
</aside>
<main class="main-content">
    <header class="blog-title">
        <h3>Front Page</h3>
    </header>
    <div id="sort-dropdown">
        <select id="sort-selector" style="float: right; margin-right: 15%">
            <!--This shit is as temporary as it can be.-->
            <option selected="true" disabled>Sort by:</option>
            <option value="votes-high">Votes High-Low</option>
            <option value="votes-low">Votes Low-High</option>
            <option value="newest">Newest First</option>
            <option value="oldest">Oldest First</option>
        </select>
    </div>
    <ul class="articles" id="article">
    </ul>

    <div style="margin-left: 100px;">
        <ul class="pagination">
            <li>
                <button id="backward"><</button>
            </li>
            <li>
                <button id="forward">></button>
            </li>
        </ul>
    </div>
</main>