a {
    text-decoration: none;
    color: #565656;
}

.dot {
    vertical-align: middle;
    margin-top: 18px;
    margin-right: 10px;
    float: left;
    width: 22px;
    border-radius: 40px;
    background-color: #834C24;
}

.title {
    vertical-align: middle;
    display: inline-block;
    font: 32px Oswald;
    font-weight: 600;
    margin-left: 5px;
    width: 65%;
    word-break: break-all;
}


.subtitle {
    font: 14px Noto Sans;
    font-weight: 100;
    margin-left: 3%;
}


.content {
    margin-top: 10px;
    font: 16px Lato;
    font-weight: 500;
    width: 80%;
    margin-left: 3%;
    word-wrap: break-word;
}

.articles {
    margin-left: 5%;
    list-style: none;
}



