a {
    text-decoration: none;
    color: #565656;
}

.dot {
    vertical-align: middle;
    margin-top: 20px;
    margin-right: 10px;
    float: left;
    width: 20px;
    border-radius: 40px;
    background-color: #019c8c;
}

.title {
    vertical-align: middle;
    display: inline-block;
    font: 32px Oswald;
    font-weight: 600;
    margin-left: 5px;
    width: 55%;
    word-break: break-all;
}


.subtitle {
    font: 16px Lato;
    font-weight: 100;
    margin-left: 3%;
}

.votesDisplay {
    font: 16px Lato;
    font-weight: 100;
    margin-left: 3%;
}

.content {
    margin-top: 10px;
    font: 16px Arial;
    font-weight: 500;
    width: 80%;
    margin-left: 3%;
    word-wrap: break-word;
}

.articles {
    margin-left: 5%;
    list-style: none;
}

.single-post {
    margin-bottom: 5%;
}

.ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}