@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Noto+Sans|Poiret+One);

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
    font: 16px Noto Sans;
    color: #1F1209;
}

.wrapper {
    overflow: hidden;
    margin: 0 auto;
    min-height: 739px;
    width: 100%;
    position: relative;
    display: inline-block;
}

hr {
    color: #834C24;
    margin: 20px auto;
    border: none;
    border-bottom: 8px solid #834C24;
    border-radius: 10px;
    width: 70%;
}


main {
    margin: 0 auto;
    min-height: inherit;
    width: 80%;
    position: relative;
    float: right;
}

header {
    position: relative;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.blog-title {
    width: 95%;
    font: 40px Oswald;
    margin: 0 auto 60px;
    padding: 8px;
    color: #003366;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 8px solid #834C24;
    border-radius: 30px;
}

.sidebar {
    float: left;
    width: 20%;
    height: 100%;
    background-color: #003366;
    color: white;
    font: 32px Lato;
    font-weight: 100;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

.logo {
    padding-top: 15px;
    padding-bottom: 15px;
}

.single-menu-element-link {
    text-decoration: none;
    color: #FFF8DC;
    -moz-transition-property: font-weight;
    -moz-transition-duration: 0.1s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 0.1s;
    -webkit-transition-property: font-weight;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0.1s;
    font-weight: 600;
}

.single-menu-element-link:hover {
    font-weight: 900;
    transition: background 0.2s ease,
    padding 0.2s linear;
}

.single-menu-element:hover {
    font-weight: 900;
    background-color: #006699;
    height: 30px;
    line-height: 25px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    transition: background 0.2s ease, padding 0.2s linear;
}

.single-menu-element {
    padding: 10px;
}

.recent-posts-title {
    font: 32px Oswald;
    font-weight: 600;
}

.single-recent-post {
    padding: 10px;
    font-size: 18px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

