@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
    font: 16px Lato;
    color: #565656;
}

.wrapper {
    overflow: hidden;
    margin: 0 auto;
    min-height: 739px;
    width: 100%;
    position: relative;
    display: inline-block;
}

hr {
    color: rgba(255, 255, 255, 0.5);
    margin: 15px auto;
    border: none;
    border-bottom: 1px solid white;
    width: 60%;
}


main {
    margin: 0 auto;
    min-height: inherit;
    width: 80%;
    position: relative;
    float: right;
}

header {
    position: relative;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.blog-title {
    width: 120px;
    font: 54px Oswald;
    font-weight: 600;
    margin: 0 auto 50px;
    color: #565656;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 8px solid #019c8c;
}

.sidebar {
    float: left;
    width: 20%;
    height: 100%;
    background-color: #06C0AB;
    color: white;
    font: 32px Lato;
    font-weight: 100;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

.logo {
    padding-top: 15px;
    padding-bottom: 15px;
}

.single-menu-element-link {
    text-decoration: none;
    color: white;
    -moz-transition-property: font-weight;
    -moz-transition-duration: 0.1s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 0.1s;
    -webkit-transition-property: font-weight;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0.1s;
    font-weight: 300;
}

.single-menu-element-link:hover {
    font-weight: 900;
    transition: background 0.2s ease,
    padding 0.2s linear;
}

.single-menu-element:hover {
    font-weight: 900;
    background-color: #019c8c;
    height: 40px;
    line-height: 32px;
    transition: background 0.2s ease, padding 0.2s linear;
}

.single-menu-element {
    padding: 10px;
}

.recent-posts-title {
    font: 32px Oswald;
    font-weight: 600;
}

.single-recent-post {
    padding: 10px;
    font-size: 18px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

